/* navbar */
nav .navbar-brand{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.square-border{
    border-radius: 0;
}

.quantity-input {
    width: 40px;
}