{% extends 'layout.html' %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}

{% endblock head %}

{% block main %}   
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3" aria-label="Main navigation">
	<div class="container">
		<a href="#" class="navbar-brand">E-Store</a>

		<button 
			class="navbar-toggler" 
			type="button" 
			data-bs-toggle="collapse" 
			data-bs-target="#navmenu" 
			aria-controls="navmenu" 
			aria-expanded="false" 
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navmenu">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item px-2 px-lg-4">
					<a href="{% url 'index' %}" class="nav-link" aria-label="Home">Home</a>
				</li>
				<li class="nav-item px-2 px-lg-4">
					<a href="{% url 'products' 'all' %}" class="nav-link" aria-label="Products">Products</a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav d-flex flex-row ms-auto">
			<li class="nav-item px-2 px-lg-3">
				<a href="#contact" class="nav-link" aria-label="Contact Info">{% bs_icon 'info-circle' size='1.2em' %}Contact</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'bag' %}" class="nav-link" aria-label="Shopping Bag">{% bs_icon 'bag' size='1.2em' %}Bag</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row justify-content-between">
		<!-- shipping info -->
		<section class="col-md-7 p-5">
			<h2>Shipping Info</h2>
			<form class="row g-4">
				<div class="col-12">
					<input type="text" class="form-control" id="inputName" placeholder="Name">
				</div>
				<div class="col-12">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
				<div class="col-12">
					<input type="tel" class="form-control" id="inputPhone" placeholder="Phone">
				</div>
				<div class="col-lg-4">
					<input type="number" class="form-control" id="inputBuilding" placeholder="Building no.">
				</div>

				<div class="col-lg-4">
					<input type="text" class="form-control" id="inputStreet" placeholder="Street">
				</div>
				<div class="col-lg-4">
					<input type="text" class="form-control" id="inputCity" placeholder="City">
				</div>
				<div class="col-12">
					<select id="inputGovernorate" class="form-select">
						<option selected>Governorate..</option>
						<option>...</option>
					</select>
				</div>
				<div class="col-12">
					<input type="text" class="form-control" id="inputLandmark" placeholder="Landmark (optional)">
				</div>
			</form>
		</section>

		<!-- order summary -->
		<aside class="col-md-5 p-5">
			<h2>Order Summary</h2>
			<div class="d-flex justify-content-between align-items-center py-4">
				<a href="#" class="btn btn-dark position-relative">
					<img src="img/prod2/24098.jpg" alt="" class="img-fluid" style="max-height: 100px;">
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						2
						<span class="visually-hidden">quantity</span>
					</span>
				</a>
				<div>
					<p class="lead">ProductName</p>
					<small class="lead">size</small>
				</div>
				<p class="lead">1200 EGP</p>
			</div>
			<div class="d-flex justify-content-between">
				<p>Subtotal</p>
				<p>1200 EGP</p>
			</div>
			<div class="d-flex justify-content-between">
				<p>Shipping</p>
				<p>50 EGP</p>
			</div>
			<div class="d-flex justify-content-between">
				<h4>Total</h4>
				<h4>1250 EGP</h4>
			</div>
			<div class="mt-3">
				<button class="btn btn-primary square-border">Confirm Order</button>
				<a href="#" class="btn btn-outline-dark square-border mx-3">Back To Bag</a>
			</div>
		</aside>
		
	</div>
</div>
{% endblock main %} 