{% extends 'layout.html' %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock head %}

{% block main %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}">E-Store</a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item px-2 px-lg-3">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item dropdown px-2 px-lg-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu dropmenu">
                        <li>
                            <a class="dropdown-item" href="{% url 'products' 'all' %}">All</a>
                        </li>
                        {% for category in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url 'products' category.cat_name %}">{{category.cat_name | capfirst}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>

            <form action="{% url 'search' %}" class="d-flex my-3 my-lg-0 px-2 px-lg-3" role="search">
                <input name="search-inp" class="form-control me-2 square-border search-inp" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-light square-border" type="submit">{% bs_icon 'search' %}</button>
            </form>

        </div>

        <ul class="navbar-nav d-flex flex-row ms-auto">
            <li class="nav-item px-2 px-lg-3">
                <a href="#contact" class="nav-link" aria-label="Contact Info">{% bs_icon 'info-circle' size='1.2em' %}Contact</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'bag' %}" class="nav-link" aria-label="Shopping Bag">{% bs_icon 'bag' size='1.2em' %}Bag</a>
            </li>
        </ul>

    </div>
</nav>

{% block content %}

{% endblock content %}

{% endblock main %}