.square-border{
    border-radius: 0;
}

@media (max-width: 992px) {
    .search-inp{
        width: 50%;
    }
    
}

.dropmenu{
    border-radius: 0;
}

/* products section */
.my-card img{
    height: 50vh;
}

/* product details section */
.prod-img{
    height: 72vh;
}
