{% extends 'layout.html' %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock head %}

{% block main %}  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3" aria-label="Main navigation">
        <div class="container">
            <a href="#" class="navbar-brand">E-Store</a>

            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navmenu" 
                aria-controls="navmenu" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-2 px-lg-4">
                        <a href="#" class="nav-link" aria-label="Home">Home</a>
                    </li>
                    <li class="nav-item px-2 px-lg-4">
                        <a href="{% url 'products' 'all' %}" class="nav-link" aria-label="Products">Products</a>
                    </li>
                    <li class="nav-item px-2 px-lg-4">
                        <a href="#contact" class="nav-link" aria-label="About Us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav d-flex flex-row ms-auto">
              <li class="nav-item px-2 px-lg-3">
                  <a href="#" class="nav-link" aria-label="Wish List">{% bs_icon 'heart' size='1.5em' %}</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'bag' %}" class="nav-link" aria-label="Shopping Bag">{% bs_icon 'bag' size='1.5em' %}</a>
              </li>
          </ul>
        </div>
    </nav>

    <!-- showcase -->
    <section id="showcase" class="p-5 pb-0 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between mt-3">
                <div class="col-lg-8">
                    <h1>Welcome to Our Store</h1>
                    <p class="lead">Discover our latest collections.</p>
                    <a href="{% url 'products' 'all' %}" class="btn btn-light my-3">Shop now {% bs_icon 'arrow-right' %}</a>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'core/images/showcase_model.png' %}" alt="model photo">
                </div>
            </div>
        </div>
        
    </section>

    <!-- featured products -->

    <!-- contact us -->
    <section id="contact" class="p-5 bg-white">
        <div class="container">
            <div class="row g-4">
                <div class="col-md">

                    <h2 class="text-center mb-4">Contact Info</h2>

                    <ul class="list-group list-group-flush lead">
                        <li class="list-group-item">
                            <span class="fw-bold">Main Location:</span> Dokki, Giza
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Phone:</span> 02381377123
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Mobile Phone:</span> +20 123 123 2222
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Email:</span> name@myEmail.com
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>


{% endblock main %} 
  