{% extends 'navbar.html' %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock head %}

{% block content %}  

<!-- showcase -->
<section id="showcase" class="p-5 pb-0 bg-dark text-light">
    <div>
            <div class="logo text-center py-3 my-3  py-md-5 my-md-5">
                <small class="ovo-regular">EST. 2024</small>
                <h1 class="meow-script-regular">La tienda</h1>
                <small class="ovo-regular">CLOTHING</small>
            </div>
            
            <div class="py-5 container text-center">
                <p class="lead mb-4">At la tienda, we believe that fashion is a reflection of individuality. Since our inception in 2024, we've been dedicated to curating timeless pieces that blend classic elegance with contemporary trends. Our collections are crafted with the finest materials and designed to stand the test of time.</p>
                <p class="lead mb-4">
                    Explore our latest collections and discover the essence of timeless style.
                    <a href="{% url 'products' 'all' %}" class="btn btn-light btn-sm mx-md-4">Shop Now {% bs_icon 'arrow-right' %}</a>
                </p>
            </div>
    </div>
</section>

<!-- featured products -->

<!-- contact us -->
<section id="contact" class="p-5 bg-white">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">

                <h2 class="text-center mb-4">Contact Info</h2>

                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span> Dokki, Giza
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Phone:</span> 02381377123
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Mobile Phone:</span> +20 123 123 2222
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Email:</span> omar.seha90@gmail.com
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<!-- Return & Exchange Policy -->
<section id="policy" class="p-5 bg-white">
    <div class="container">
        <h2 class="text-center mb-4">Return & Exchange Policy</h2>
        <p class="lead">Thank you for shopping with us! Please read our policy carefully to understand how our products and services are managed.</p>

            <h4>Returns</h4>
            <p class="lead text-danger">We do not accept returns on any items. All sales are final.</p>

            <h4>Exchanges</h4>
            <p class="lead">Exchanges are permitted under the following conditions:</p>
            <ul class="list-group p-3 mb-4">
                <li class="list-group-item"><span class="fw-bold">Eligibility:</span> Exchanges are allowed only for items that are defective or damaged upon receipt.</li>
                <li class="list-group-item"><span class="fw-bold">Time Frame:</span> You must request an exchange within 7 days of receiving the item.</li>
                <li class="list-group-item"><span class="fw-bold">Process:</span> To initiate an exchange, please contact our customer service team with your order number and details of the defect or damage. We may require photo evidence to process your request.</li>
              </ul>

            <h4>Shipping Costs</h4>
            <p class="lead">You will be responsible for paying for your own shipping costs for exchanging your item. Shipping costs are non-refundable.</p>
            <p class="lead">If you have any questions or concerns, please contact our customer service team. <br>
                Thank you for your understanding and support.</p>
    </div>
</section>


{% endblock content %} 
  