<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Store</title>
    {% load static %}
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block head %}

    {% endblock head %}

</head>
<body class="bg-light">

{% block main %}   

{% endblock main %} 
<!-- footer -->
<footer class="bg-light p-5 text-center position-relative">
    <div class="container">
        <p class="lead"> Copyright &copy; 2024 E-Store</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5 text-secondary"> <!-- back button bug because of the url! -->
            {% bs_icon 'arrow-up-circle' size='2em' %}
        </a>
        <a href="#" class="text-decoration-none link-hover text-secondary">Return & Exchange Policy</a>
    </div>
</footer>

</body>
</html>