<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Store</title>
    {% load static %}
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ovo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    {% block head %}

    {% endblock head %}

</head>
<body class="bg-light">

{% block main %}   

{% endblock main %} 
<!-- footer -->
<footer class="bg-light p-5 text-center position-relative">
    <div class="container">
        <p class="lead"> Copyright &copy; 2024 E-Store</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5 text-secondary"> <!-- back button bug because of the url! -->
            {% bs_icon 'arrow-up-circle' size='2em' %}
        </a>
        <a href="{% url 'index'%}#policy" class="text-decoration-none link-hover text-secondary">Return & Exchange Policy</a>
        <div class="p-3">
            <ul class="list-unstyled d-flex items-align-center justify-content-center">
                <li class="p-2 on-hover">
                    <a href="https://web.facebook.com/omar.sameh.14203" target="_blank">{% bs_icon 'facebook' size='1.5em' color='blue' %}</a>
                </li>
                <li class="p-2 on-hover">
                    <a href="https://www.instagram.com/omarse7a/" target="_blank">{% bs_icon 'instagram' size='1.5em' color='purple' %}</a>
                </li>
                <li class="p-2 on-hover">
                    <a href="https://www.linkedin.com/in/omar-sameh-470415285/" target="_blank">{% bs_icon 'linkedin' size='1.5em' %}</a>
                </li>
                <li class="p-2 on-hover">
                    <a href="https://github.com/omarse7a" target="_blank">{% bs_icon 'github' size='1.5em' color='dark' %}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>