#showcase{
    min-height: 93vh;
}

#showcase h1{
    font-size: 8vw;
}

#showcase small{
    font-size: 0.8vw;
}

@media (max-width: 768px) {
    #showcase h1{
        font-size: 20vw;
    }
    
    #showcase small{
        font-size: 3vw;
    }
}